* {
    /*margin:0;
    padding:0;*/
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .2);
    /*background-image:url("../assets/images/test.jpg");*/
    background-image:url(../assets/images/star-wars-background.jpg);
}
a {
  text-decoration: none;  
}
.navbar {
    border-radius: 1em;
}
#aboutus:hover {
    background-color:#97C8EB;
}
.icon {
    text-decoration: none;
    color:#fff;
    font-weight:900;
}
.carousel-item{
    height:32rem;
    vertical-align: center;
}
.no-link a{
    color:#fff;
    
}
.register-link{
    
    color:#6c757d;
    transition: 0.2s;
}
.register-link:hover{
    color:white;
    transition: 0.2s;
}
@media (max-width:1400px){
    .adjustimg {
        background-position: center;
        background-size: cover;
    }
    #pic3 {
        background-image:url(../assets/images/pic_1.jpg);
    }
}
@media (min-width:1401px){
    .adjustimg{
        background-size: cover;
    }
    .change-text-color{
        color:#000;
    }
    .no-link a{
        color:#000;
    }
    #pic3 {
        background-image:url(../assets/images/pic_4.jpg);
    }
    #pic3 a {
        color: #fff;
    }
}
.bkA{
    color:#fff;
    transition: 0.2s;
}
.bkA:hover{
    color:powderblue;
    transition: 0.2s;
}